*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
ul{
    list-style: none;
}



a{
    text-decoration: none;
}


body , html{
    overflow-x: hidden;
}
.nav-links{
    display: flex;
    align-items: center;
}
.nav-links li{
    margin:0 30px;
}

.navbar{
    
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
}

.menu button{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    cursor: pointer;
}

header{
    width: 100vw;
    height: 100vh;
    background-color: rgb(119, 145, 164);
    background-size: cover;
    background-position:bottom ;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.header-content {
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
    
}

.header-content h2{
    font-size: 4vmin;
}





.header-content h1{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}
.ctn{
    padding: 8px 15px;
    background-color: rgb(248, 245, 242);
    border-radius: 30px;
    color: rgb(119, 145, 164);
}

.menu-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;

}

section{
    width: 80%;
    margin: 80px auto;
}


.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 100px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.main-col{
    flex-basis: 41%;
    background-color:rgb(210, 222, 230);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    
}

.main-col:hover {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2) ;
}




.main{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 100px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.course-col{
    flex-basis: 41%;
    background-color:rgb(210, 222, 230); ;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    
}

.course-col:hover {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2) ;
}


h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}


h4{
    font-size: 3vmin;
    color: black;
    margin: 20px auto;
}
h1{
    font-size: 36px;
    font-weight: 600;
    
}
P{
    color: rgb(90, 69, 69);
    font-size: 14;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}



.facility{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 100px;
}

.facility-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
}

.facility-col img{
    width: 100%;
    border-radius: 10px;
}

.facility-col p{
    padding: 0;
    text-align: left;

}

.facility-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: center;
 }


 .footer{
    padding: 40px 0;
    background-color:rgb(210, 222, 230);;
}
.footer.social{
    text-align: center;
    padding-bottom: 25px;
    color: black;
}

.footer.social ul{
 margin-top:0 ;
 padding: 0;
 list-style: none;
 font-size: 18px;
 line-height: 1.6;
 margin-bottom: 0;
 text-align: center;

}
 
.footer ul a{
    color: inherit;
    text-decoration: none;
    opacity: 0.8;

}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
    
}

.footer ul li a :hover{
    opacity: 1;
}


body{
    background: #ffffff;
    padding: 0 10px;
  }
  .wrapper{
    max-width: 500px;
    width: 100%;
    background: #fff;
    margin: 50px auto;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.125);
    padding: 30px;
  }
  
  .wrapper .title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: black;
    text-transform: uppercase;
    text-align: center;
  }
  
  .wrapper .form{
    width: 100%;
  }
  
  .wrapper .form .inputfield{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
  }
  
  .wrapper .form .inputfield label{
     width: 200px;
     color: #757575;
     margin-right: 10px;
    font-size: 14px;
  }
  
  .wrapper .form .inputfield .input,
  .wrapper .form .inputfield .textarea{
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
  }
  
  .wrapper .form .inputfield .textarea{
    width: 100%;
    height: 125px;
    resize: none;
  }
  
  .wrapper .form .inputfield .custom_select{
    position: relative;
    width: 100%;
    height: 37px;
  }
  
  .wrapper .form .inputfield .custom_select:before{
    content: "";
    position: absolute;
    top: 12px;
    right: 10px;
    border: 8px solid;
    border-color: #d5dbd9 transparent transparent transparent;
    pointer-events: none;
  }
  
  .wrapper .form .inputfield .custom_select select{
    -webkit-appearance: none;
    -moz-appearance:   none;
    appearance:        none;
    outline: none;
    width: 100%;
    height: 100%;
    border: 0px;
    padding: 8px 10px;
    font-size: 15px;
    border: 1px solid #d5dbd9;
    border-radius: 3px;
  }
  
  
  .wrapper .form .inputfield .input:focus,
  .wrapper .form .inputfield .textarea:focus,
  .wrapper .form .inputfield .custom_select select:focus{
    border: 1px solid #bde1f3;
  }
  
  .wrapper .form .inputfield p{
     font-size: 14px;
     color: #757575;
  }
  .wrapper .form .inputfield .check{
    width: 15px;
    height: 15px;
    position: relative;
    display: block;
    cursor: pointer;
  }
  .wrapper .form .inputfield .check input[type="checkbox"]{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  .wrapper .form .inputfield .check .checkmark{
    width: 15px;
    height: 15px;
    border: 1px solid #bde1f3;
    display: block;
    position: relative;
  }
  .wrapper .form .inputfield .check .checkmark:before{
    content: "";
    position: absolute;
    top: 1px;
    left: 2px;
    width: 5px;
    height: 2px;
    border: 2px solid;
    border-color: transparent transparent #fff #fff;
    transform: rotate(-45deg);
    display: none;
  }
  .wrapper .form .inputfield .check input[type="checkbox"]:checked ~ .checkmark{
    background: #bde1f3;
  }
  
  .wrapper .form .inputfield .check input[type="checkbox"]:checked ~ .checkmark:before{
    display: block;
  }
  
  .wrapper .form .inputfield .btn{
    width: 100%;
     padding: 8px 10px;
    font-size: 15px; 
    border: 0px;
    background:  black;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
  }
  
  .wrapper .form .inputfield .btn:hover{
    background: #bde1f3;
  }
  
  .wrapper .form .inputfield:last-child{
    margin-bottom: 0;
  }


section{
    width: 80%;
    margin: 80px auto;
}


.contact{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 100px;
}

.cnt-row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.cnt-col{
    flex-basis: 41%;
    background-color:rgb(210, 222, 230);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    
}

.cnt-col:hover {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2) ;
}




.contact{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 100px;
}

.cnt-row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.cnt-col{
    flex-basis: 41%;
    background-color:white ;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    
}

.cnt-col:hover {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2) ;
}





  



@media only screen and (max-width:640px){

    

     .navbar{
        padding: 0;
    }
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-links{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background-color: rgb(45, 94, 150);
        margin-top: -900px;
    }

    .mobile-menu{
        margin-top: 0px;
    }

    .nav-linksli{
        margin: 30px auto;
    }


    .row{
        flex-direction: column;
    }

    .facility-col img{
        margin-left: 0px;
        margin-right: 15px;
    }

    

    .wrapper .form .inputfield{
        flex-direction: column;
        align-items: flex-start;
      }
      .wrapper .form .inputfield label{
        margin-bottom: 5px;
      }
      .wrapper .form .inputfield.terms{
        flex-direction: row;
      }
      .cnt-row{
        flex-direction: column;
      }
}